<%- include('../partials/header') %>

<h2>Team List</h2>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Team Name</th>
      <th>League</th>
      <th>Founding Year</th>
      <th>Home Kit Colors</th>
      <th>Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(t) { %>
    <tr>
        <td><%= t.location %></td>
        <td><%= t.teamName %></td>
        <td><%= t.league %></td>
        <td><%= t.foundingYear %></td>
        <td><%= t.homeKitColors %></td>
        <td><%= t.sponsor %></td>
        <td><a href="/teams/<%= t._id %>">ROSTER</a></td>
        <td><form action="/teams/<%= t._id %>/update" method="POST"><button type="submit">UPDATE</button></a></td>
        <td><form action="/teams/<%= t._id %>?_method=DELETE" method="POST"><button type="submit">DELETE</button></td>
      </tr>
    <% }) %> 
  </tbody>
</table>

<%- include('../partials/footer') %>

