<%- include('../partials/header') %>

<style>

</style>

<h2>Team List</h2>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Team Name</th>
      <th>League</th>
      <th>Founding Year</th>
      <th>Home Kit Colors</th>
      <th>Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(t) { %>
    <tr>
        <td><%= t.location %></td>
        <td><%= t.teamName %></td>
        <td><%= t.league %></td>
        <td><%= t.foundingYear %></td>
        <td><%= t.homeKitColors %></td>
        <td><%= t.sponsor %></td>
      </tr>
    <% }) %> 
  </tbody>
</table>

<%- include('../partials/footer') %>

